name: CHERIoT Demos CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  merge_group:
  workflow_dispatch:
    inputs:
      devcontainer:
        description: 'Set to override default build container'
        type: string
        required: false
      submodule_netstack_origin:
        description: 'Set to override the committed network stack submodule origin'
        type: string
        required: false
      submodule_netstack_ref:
        description: 'Set to override the committed network stack submodule ref'
        type: string
        required: false
      submodule_rtos_origin:
        description: 'Set to override the committed RTOS submodule origin'
        type: string
        required: false
      submodule_rtos_ref:
        description: 'Set to override the committed RTOS submodule ref'
        type: string
        required: false
  workflow_call:
    inputs:
      devcontainer:
        description: 'Set to override default build container'
        type: string
        required: false
      submodule_netstack_origin:
        description: 'Set to override the committed network stack submodule origin'
        type: string
        required: false
      submodule_netstack_ref:
        description: 'Set to override the committed network stack submodule ref'
        type: string
        required: false
      submodule_rtos_origin:
        description: 'Set to override the committed RTOS submodule origin'
        type: string
        required: false
      submodule_rtos_ref:
        description: 'Set to override the committed RTOS submodule ref'
        type: string
        required: false

jobs:
  build-demos:
    permissions:
      # We're a reusable workflow.  We'd love to get job_workflow_ref from
      # the github context, but that doesn't exist despite several people asking
      # for it.  ChristopherHX has figured out a workaround involving granting
      # ourselves an OIDC token.
      # See https://github.com/orgs/community/discussions/31054
      id-token: write
    strategy:
      matrix:
        build-type: [ debug, release ]
        demo:
          - compartmentalisation
          - configuration_broker_ibex
          - configuration_broker_sonata
          - HughV1
          - HughV2
        include:
          - xmake-run: false
          - build-type: debug
            build-flags: --debug-loader=y --debug-scheduler=y --debug-allocator=information --allocator-rendering=y -m debug
          - build-type: release
            build-flags: --debug-loader=n --debug-scheduler=n --debug-allocator=none -m release --stack-usage-check-allocator=y --stack-usage-check-scheduler=y
          - demo: compartmentalisation
            build-dir: compartmentalisation
          - demo: HughV1
            build-dir: HughTheLightbulb/Device
            extra-config: --IPv6=n --network-inject-faults=y --scheduler-accounting=y
          - demo: HughV2
            build-dir: HughTheLightbulbV2/Device
            extra-config: --IPv6=n --network-inject-faults=y --scheduler-accounting=y
          - demo: configuration_broker_sonata
            build-dir: configuration_broker/sonata
            extra-config: --IPv6=n --MQTT_Signed=true
          - demo: configuration_broker_ibex
            build-dir: configuration_broker/ibex-safe-simulator
            xmake-run: true
      fail-fast: false
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.devcontainer || 'ghcr.io/cheriot-platform/devcontainer:latest' }}
      options: --user 1001
    steps:
    - id: oidc
      uses: ChristopherHX/oidc@5474d2684a1ec62050fec2684d02a2582f8f47ee
    - name: Checkout demos repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: recursive
        repository: ${{ steps.oidc.outputs.job_workflow_repo_name_and_owner }}
        ref: ${{ steps.oidc.outputs.job_workflow_repo_ref }}
    - name: Replace RTOS submodule
      if: ${{ inputs.submodule_rtos_ref }}
      run: |
        cd cheriot-rtos
        git fetch "${{ inputs.submodule_rtos_origin || 'origin' }}" "${{ inputs.submodule_rtos_ref }}"
        git reset --hard FETCH_HEAD
        git submodule update --recursive --init .
    - name: Replace network stack submodule
      if: ${{ inputs.submodule_netstack_ref }}
      run: |
        cd network-stack
        git fetch "${{ inputs.submodule_netstack_origin || 'origin' }}" "${{ inputs.submodule_netstack_ref }}"
        git reset --hard FETCH_HEAD
        git submodule update --recursive --init .
    - name: Build Demo
      run: |
        echo ${{ matrix.build-dir }} ${{ matrix.extra-config }} ${{ matrix.build-flags }}
        cd ${{ matrix.build-dir }}
        xmake f --sdk=/cheriot-tools/ ${{ matrix.extra-config }} ${{ matrix.build-flags }}
        xmake
    - name: Run Demo
      if: ${{ matrix.xmake-run }}
      run: |
        cd ${{ matrix.build-dir }}
        xmake run
